@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Lato&family=Lora&display=swap');

html,
body {
    font-family: 'Lato', serif;
    height: 100%;
    width: 100%;
    margin: 0;
}

h1,
h2,
h3 {
    font-family: 'Lora', serif;
}

button {
    /*
    border: unset;
    color: #333333;
    background-color: #00000000;
    font-weight: bold;
    text-decoration: underline;
    */
}

input {
    border: unset;
    border-bottom: solid 1px #ddd;
    background: #00000000;
    font-size: 1rem;
}

main {
    display: flex;
    flex-flow: column;
    height: 100%;
    width: 100%;
}

.header {
    font-family: 'Lora', serif;

    grid-area: header;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    padding: .75rem;
    background-color: #993333;
    color: #ffeeee;
    font-size: 1.5rem;
    font-weight: bold;
}

%label {
    font-family: 'Chivo Mono', monospace;

    color: #333;
    background-color: #ddd;
    padding: 0 .4rem 0 .4rem;
    border-radius: .3rem;
}

.settings {
    display: flex;
    flex-flow: column nowrap;

    transition: all linear .3s;
}

.recipe-display {
    grid-area: recipe;
}

%status {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Chivo Mono', monospace;
    font-weight: bold;
    color: #fff;

    height: 2rem;
    max-height: 10%;

    transition: all .5s;
}

.status.hidden {
    height: 0;
    color: #00000000;
}

.status.info {
    @extend %status;
    background-color: #f90;
}

.status.error {
    @extend %status;
    background-color: red;
}

.recipe-selection {
    height: 100%;
    display: flex;
    position: relative;
    flex-flow: row nowrap;
    overflow: hidden;

    .recipe-index {
        margin: 0 3rem;
        padding: 0;
        list-style: none;
        overflow-y: scroll;
        scrollbar-width: none;
        width: 100%;

        .recipe-item {
            &:nth-child(odd) {
                align-items: flex-start;
            }

            &:nth-child(even) {
                align-items: flex-end;
                // justify-content: right;
            }

            display: flex;
            flex-flow: column;
            padding: 1rem 0;

            a {
                text-decoration: none;
                font-family: 'Lora', serif;
                font-weight: bold;
                font-size: 2rem;
                color: #222;
            }

            .knife-id {
                color: #555;
                font-size: .8rem;
            }
        }
    }

    .search-pane {
        flex-basis: 50%;
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;

        gap: 1rem;
        padding: 1rem;

        .search-header {
            display: flex;
            flex-flow: column nowrap;
            gap: .5rem;

            .label-tray-toggle {
                display: none;
            }

            .search-bar {
                width: 100%;
                background-color: #fff;
                height: 2rem;
                border-radius: .3rem;
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
            }

            .restrictions {
                display: flex;
                flex-flow: column;
            }
        }

        .available-labels {
            display: flex;
            flex-flow: row wrap;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: .5rem;
            line-height: 1rem;

        }

        .label.filter {
            //@extend %label;
        }

        .label.filter.remove {
            background-color: #585;
        }
    }

    .create-recipe {
        position: absolute;
        top: 0;
        right: 0;
    }
}

.recipe-display.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ddd;
    font-size: 4rem;
    margin: 4rem;
    border: dashed 1rem #ddd;
    border-radius: 4rem;
}

.recipe-display {
    position: relative;
    padding: 4rem;

    overflow-y: scroll;

    .recipe-header {
        h1 {
            margin: 0;
        }

        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: 1rem;

        .recipe-author {
            font-style: italic;
        }

        .recipe-author::before {
            content: "par ";
            font-style: italic;
        }
    }

    .recipe-tags {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;

        .label {
            @extend %label;
        }
    }

    .options {
        position: absolute;
        top: 10px;
        right: 10px;
        display: flex;
        flex-flow: row nowrap;
        gap: .5rem;
    }

    .recipe-ingredients-label {
        margin-bottom: 0;
    }

    .recipe-ingredients {
        margin: 0;
        padding: 0;
        list-style: none;

        display: grid;
        grid-template-columns: 1fr 1fr;


        .requirement {
            display: flex;
            flex-flow: row nowrap;
            gap: 1rem;
        }
    }
}

@media only screen and (max-width: 800px) {
    main {
        display: grid;
        grid-template-areas: "header" "list";
        height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content 1fr;
    }

    .recipe-display {
        background-color: #fff;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        padding: 1rem;
    }

    .recipe-display.empty {
        left: 100%;
    }

}
